<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="alert alert-success alert-dismissible fade show"  *ngIf="msgState">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Message</strong> {{errorMsg}}
      </div>
      
      <h4 class="card-title">Banks Details</h4>
      <form class="form-sample" #bankDetails="ngForm" (ngSubmit)="bankDetailsData(bankDetails)">

        <!-- <p class="card-description"> City </p> -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="bankName">Bank Name</label>
              <div class="col-sm-7">
                <select class="form-control form-control-sm" id="bankName" name="bankName" (change)="getBankData()"  ngModel #bankName='ngModel' required>
                  <option>Select bank </option>
                  <option *ngFor="let bank of Banks"  [value]="bank">{{bank}}</option>
                </select>
                <span *ngIf="!bankName.valid && (bankName.touched || bankName.dirty)" class="text-danger small">
                  <small *ngIf='bankName.errors["required"]'>City required</small>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="address">Address</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" id="address" name="address" (change)="getBankData()" ngModel #address='ngModel'
                  required>
                  
                <span *ngIf="!address.valid && (address.touched || address.dirty)" class="text-danger small">
                  <small *ngIf='address.errors["required"]'>Bank Address required</small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="branchCode">Branch Code</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" id="branchCode" name="branchCode" ngModel #branchCode='ngModel'
                  required />
                <span *ngIf="!branchCode.valid && (branchCode.touched || branchCode.dirty)" class="text-danger small">
                  <small *ngIf='branchCode.errors["required"]'>Branch Code required</small>
                </span>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="ifscCode">IFSC Code</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" id="ifscCode" name="ifscCode" ngModel #ifscCode='ngModel'
                  required />
                <span *ngIf="!ifscCode.valid && (ifscCode.touched || ifscCode.dirty)" class="text-danger small">
                  <small *ngIf='ifscCode.errors["required"]'>Bank IFSC Code required</small>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Post Code </label>
              <div class="col-sm-7">
                <input type="number" class="form-control form-control-sm" required />
                <span *ngIf="!ifscCode.valid && (ifscCode.touched || ifscCode.dirty)" class="text-danger small">
                  <small *ngIf='ifscCode.errors["required"]'>Bank IFSC Code required</small>
                </span>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="city">City</label>
              <div class="col-sm-7">
                <select class="form-control form-control-sm" id="cityId" name="cityId" (change)="getCityData()"  ngModel #cityId='ngModel' required>
                  <option>Select City </option>
                  <option *ngFor="let city of Cityes"  [value]="city.cityId">{{city.cityName}}</option>
                </select>
                <span *ngIf="!cityId.valid && (cityId.touched || cityId.dirty)" class="text-danger small">
                  <small *ngIf='cityId.errors["required"]'>City required</small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">State</label>
              <div class="col-sm-7">
                <select class="form-control form-control-sm">
                    <option>America</option>
                    <option>Italy</option>
                    <option>Russia</option>
                    <option>Britain</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">Country</label>
              <div class="col-sm-7">
                <select class="form-control form-control-sm">
                  <option>America</option>
                  <option>Italy</option>
                  <option>Russia</option>
                  <option>Britain</option>
                </select>
              </div>
            </div>
          </div>
        </div> -->

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button type="submit" class="btn btn-gradient-primary mr-2" desabled
                [disabled]="!bankDetails.valid">Submit</button>
              <button type="submit" class="btn btn-gradient-success mr-2">Edit</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
