<div class="col-12">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Banks Details</h4>
      <form class="form-sample" #bankDetails="ngForm" (ngSubmit)="bankDetailsData(bankDetails)">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="customerId">Party</label>
              <div class="col-sm-8">
                <select class="form-control form-control-sm" id="customerId" name="customerId"  ngModel #customerId='ngModel' required>
                  <option value="" selected>Select Party </option>
                  <option *ngFor="let party of parties"  [value]="party.value">{{party.label}}</option>
                </select>
                <span *ngIf="!customerId.valid && (customerId.touched || customerId.dirty)" class="text-danger small">
                  <small *ngIf='customerId.errors["required"]'>Select party</small>
                </span>
              </div>              
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="bankId">Bank Name</label>
              <div class="col-sm-8">
                <select class="form-control form-control-sm" id="bankId" name="bankId" ngModel #bankId='ngModel' required>
                  <option value="" selected>Select bank </option>
                  <option *ngFor="let bank of BankList"  [value]="bank">{{bank}}</option>
                </select>
                <span *ngIf="!bankId.valid && (bankId.touched || bankId.dirty)" class="text-danger small">
                  <small *ngIf='bankId.errors["required"]'>Bank required</small>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="address">Address</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="address" name="address" ngModel #address='ngModel'
                  required>
                <span *ngIf="!address.valid && (address.touched || address.dirty)" class="text-danger small">
                  <small *ngIf='address.errors["required"]'>Bank Address required</small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="branchCode">Branch Code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="branchCode" name="branchCode" ngModel #branchCode='ngModel'
                  required />
                <span *ngIf="!branchCode.valid && (branchCode.touched || branchCode.dirty)" class="text-danger small">
                  <small *ngIf='branchCode.errors["required"]'>Branch Code required</small>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="ifscCode">IFSC Code</label>
              <div class="col-sm-8">
                <input type="text" class="form-control form-control-sm" id="ifscCode" name="ifscCode" ngModel #ifscCode='ngModel'
                  required />
                <span *ngIf="!ifscCode.valid && (ifscCode.touched || ifscCode.dirty)" class="text-danger small">
                  <small *ngIf='ifscCode.errors["required"]'>Bank IFSC Code required</small>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="postCode">Account No </label>
              <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm number-text" id="bankAccount" name="bankAccount" ngModel #bankAccount='ngModel' required />
                <span *ngIf="!bankAccount.valid && (bankAccount.touched || bankAccount.dirty)" class="text-danger small">
                  <small *ngIf='bankAccount.errors["required"]'>Account Number required</small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="postCode">Post Code </label>
              <div class="col-sm-8">
                <input type="number" class="form-control form-control-sm number-text" id="postCode" name="postCode" ngModel #postCode='ngModel' required />
                <span *ngIf="!postCode.valid && (postCode.touched || postCode.dirty)" class="text-danger small">
                  <small *ngIf='postCode.errors["required"]'>Post IFSC Code required</small>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for="cityName">City</label>
              <div class="col-sm-8">
                <select class="form-control form-control-sm" id="cityName" name="cityName" ngModel #cityName='ngModel' required>
                  <option value="" selected>Select City </option>
                  <option *ngFor="let city of Cities"  [value]="city.name">{{city.name}}</option>
                </select>
                <span *ngIf="!cityName.valid && (cityName.touched || cityName.dirty)" class="text-danger small">
                  <small *ngIf='cityName.errors["required"]'>Select City</small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button type="reset" class="btn btn-gradient-success mr-2">Cancel</button>
              <button type="submit" class="btn btn-gradient-primary mr-2" desabled
                [disabled]="!bankDetails.valid">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
