

	<!-- 404 Area Start -->
	<section class="four-zero-four">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="content">
						<img src="images/404.png" alt="">
						<div class="inner-content">
							<h4 class="title">
									Oops, 404 Error<br>
									Something went wrong !
							</h4>
							<p class="sub-title">
									The page you're looking for no longer exists.
							</p>
							<a href="#" class="mybtn1" [routerLink]="['']" routerLinkActive="router-link-active" ><i class="fas fa-angle-double-left"></i> BACK TO HOME</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
