<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Profile</h4>
        <!-- <p class="card-description"> Basic form elements </p> -->
        <form class="forms-sample" #profile="ngForm" (ngSubmit)="profileData(profile)">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" ngModel #firstName='ngModel' placeholder="First Name" required>
          </div>
          <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName"  name="middleName" ngModel #middleName='ngModel' placeholder="Middle Name " required>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" ngModel #lastName='ngModel'  placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <label for="userLoginId">Mobile Number</label>
            <input type="tel" class="form-control" id="userLoginId" name="userLoginId" ngModel #userLoginId='ngModel'  placeholder="Email" required>
          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="date" class="form-control" id="dob" name="dob" ngModel #dob='ngModel'  placeholder="Date of Birth" required>
          </div>
<!-- 
          <div class="form-group">
            <label for="exampleSelectGender">Gender</label>
            <select class="form-control" id="exampleSelectGender">
              <option>Male</option>
              <option>Female</option>
            </select>
          </div> -->


          <div class="form-group">
            <div class="form-group row">
              <div class="col-sm-4">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="gender" [(ngModel)]="gender" value="Male" checked=""> Male <i class="input-helper"></i></label>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="gender" id="gender" [(ngModel)]="gender" value="Female"> Female <i class="input-helper"></i></label>
                </div>
              </div>
            </div>
            </div>
          <!-- <div class="form-group">
            <label>File upload</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload Photo</button>
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">City</label>
            <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">
          </div> 
          <div class="form-group">
            <label for="exampleTextarea1">Textarea</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
          </div>-->
          <button type="submit" class="btn btn-gradient-primary mr-2" [disabled]="!profile.valid">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
