






<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">
            <div class="brand-logo">
              <h3> The Medicine</h3>
            </div>
            <h6 class="font-weight-light">Enter your email address and we'll send you an email with instructions
              to reset your password.</h6>
            <form class="pt-3" #forgetPassword="ngForm" (ngSubmit)="forgetPasswordData(forgetPassword)">

              <div class="form-group">
                <input class="form-control form-control-lg" type="email" id="userLoginId" name="userLoginId" required
                  ngModel #userLoginId='ngModel' placeholder="Email">
                <span *ngIf="!userLoginId.valid && (userLoginId.touched || userLoginId.dirty)"
                  class="text-danger small">
                  <small *ngIf='userLoginId.errors["required"]'>Email address required</small>
                </span>
              </div>

              <div class="mt-3">
                <button class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" type="submit"
                  [disabled]="!forgetPassword.valid">Reset Password</button>
              </div>
              <div class="text-center mt-4 font-weight-light"> Back to <a [routerLink]="['']"
                  routerLinkActive="router-link-active" (click)="loginPage()" class="text-primary">Login</a>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>



