<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img src="assets/images/faces/face1.jpg" alt="profile">
          <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">Somnath Sumbe</span>
          <span class="text-secondary text-small">Developer</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <span class="menu-title" tabindex="0">Master</span>
        <i class="menu-arrow"  tabindex="0"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"  tabindex="0"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <!-- <li class="nav-item"> <a class="nav-link" [routerLink]="['bankinfo']" routerLinkActive="active">Bank Details</a></li> -->
          <li tabindex="0" class="nav-item"> <a class="nav-link" [routerLink]="['party']"
              routerLinkActive="active">Party</a></li>
          <li tabindex="0" class="nav-item"> <a class="nav-link" [routerLink]="['purchase']"
              routerLinkActive="active">Purchase</a></li>
          <li tabindex="0" class="nav-item"> <a class="nav-link" [routerLink]="['sales']"
              routerLinkActive="active">Sales</a></li>
          <li tabindex="0" class="nav-item"> <a class="nav-link" [routerLink]="['products']"
              routerLinkActive="active">Products</a></li>
          <li tabindex="0" class="nav-item"> <a class="nav-link" [routerLink]="['transport']"
              routerLinkActive="active">Transport</a></li>
          <li tabindex="0" class="nav-item"> <a class="nav-link" [routerLink]="['HSN']"
              routerLinkActive="active">HSN</a></li>
        </ul>
      </div>
    </li>

    <li  class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#general-pages2" aria-expanded="false"
        aria-controls="general-pages">
        <span class="menu-title"  tabindex="0">Accounting</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-table-large menu-icon"></i>
      </a>
      <div class="collapse" id="general-pages2">
        <ul class="nav flex-column sub-menu">
          <li tabindex="0" class="nav-item"> <a class="nav-link" href="#"> 404 </a></li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#general-pages4" aria-expanded="false"
        aria-controls="general-pages">
        <span class="menu-title">Report</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
      </a>
      <div class="collapse" id="general-pages4">
        <ul class="nav flex-column sub-menu">
          <!-- <li class="nav-item"> <a class="nav-link" href="pages/samples/blank-page.html"> Blank Page </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li> -->
        </ul>
      </div>
    </li>
  </ul>
</nav>
