<div class="col-12">
  <div class="card">
    <div class="card-body">
      <div class="alert  alert-dismissible fade show" *ngIf="message" [ngClass]="messageState ? 'alert-success' : 'alert-danger'">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Message</strong> {{message |titlecase}}
      </div>
      <h4 class="card-title">HSN Details</h4>
      <form class="form-sample" [formGroup]="hsnForm" (ngSubmit)="hsnDetailsData(hsnForm)">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="hsnCategory">HSN Category</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" name="hsnCategory" formControlName="hsnCategory"
                  placeholder="hsnCategory Name ">
                  <small class="text-danger" *ngIf="!hsnForm.get('hsnCategory').valid && hsnForm.get('hsnCategory').touched">Please enter valid hsnCategory</small>
              </div>
            </div>

          </div>
          <div class="col-md-5">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label" for="description">Description</label>
              <div class="col-sm-7">
                <input type="text" class="form-control form-control-sm" name="description" formControlName="description"
                  placeholder="Description" required>
                  <small class="text-danger" *ngIf="!hsnForm.get('description').valid && hsnForm.get('description').touched">Please enter valid description</small>
              </div>
            </div>

          </div>

          <div class="col-md-2">
            <div class="form-group row">
              <div class="col-md-12">

                <button type="submit" class="btn btn-gradient-primary  mb-2 float-right" [disabled]="!hsnForm.valid"><i class="mdi mdi-plus"></i>
                  Add
                </button>

              </div>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-striped table-bordered table-sm">
              <thead>
                <tr tabindex="0">
                  <th>
                    HSN Category
                  </th>
                  <th>
                    Description
                  </th>
                  <th>
                    Created Date
                  </th>
                  <th>
                    Edit
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let hsnList of hsnLists; index as i">
                  <td class="py-1" tabindex="0">
                    {{hsnList.hsnCategory}}
                  </td>
                  <td tabindex="0">
                    {{hsnList.description |titlecase}}
                  </td>
                  <td tabindex="0">
                    {{hsnList.createdDate |date}}
                  </td>
                  <td tabindex="0">
                    <button type="button" class="btn btn-gradient-primary btn-sm" tabindex="0" ><i
                        class="mdi mdi-file-check btn-icon-append"></i>Edit</button>
                  </td>
                </tr>

              </tbody>
            </table>


          </div>
        </div>

      </form>
    </div>
  </div>
</div>
