
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
<app-header></app-header>
<br><br><br><br>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
<app-sidebar></app-sidebar>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <app-profile></app-profile>

            
          </div>
<app-footer></app-footer>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->


