	<!-- Header Area Start  -->
	<header class="header">
		<!--Main-Menu Area Start-->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">                 
						<nav class="navbar navbar-expand-lg navbar-light">
							<a class="navbar-brand" href="index.html">
                                The Medicine
								<!-- <img src="images/logo.png" class="logo" alt="Converge Money"> -->
							</a>
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu" aria-controls="main_menu"
								aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon"></span>
							</button>
							<div class="collapse navbar-collapse fixed-height" id="main_menu">
								<ul class="navbar-nav ml-auto">
									<li class="nav-item">
										<a class="nav-link" href="index.html">Home</a>
									</li>
									<!-- <li class="nav-item">
										<a class="nav-link" href="aboutus">About</a>
									</li> -->
									
								
																		<li class="nav-item">
										<a class="nav-link" href="invest.html">Invest</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="business.html">Business</a>
									</li>
									
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											Solutions
										</a>
										<ul class="dropdown-menu">
											<li><a class="dropdown-item" href="businessfinance.html"> <i class="fa fa-angle-double-right"></i>Business Finance</a></li>
											<li><a class="dropdown-item" href="invoicefinance.html"> <i class="fa fa-angle-double-right"></i>Invoice Financing</a></li>
											<li><a class="dropdown-item" href="propertyfinance.html"> <i class="fa fa-angle-double-right"></i> Property Finance</a></li>
										</ul>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="contact.html">Contact</a>
									</li>
								</ul>
																	<a href="login.html" class="mybtn1 mybtn2">Log In </a>
									<a href="register.html" class="mybtn1 mybtn2">Sign Up </a>	
															</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
		<!--Main-Menu Area Start-->
	</header>
	<!-- Header Area End  -->
