select.ng-invalid.ng-touched , input.ng-invalid.ng-touched {
  border: red 1px solid;
}

select.ng-valid.ng-touched , input.ng-valid.ng-touched {
  border: green 1px solid;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b !important;
  text-decoration: none;
  background-color: #f8f9fa;
}

.arrowpointer {
  cursor: pointer;
}

.form-group {
  margin-bottom: 0.5rem;
}

.card .card-body {
  padding: 1.0rem 1.5rem;
}

.form-control-sm {
  height: 2.0rem;
}

.col-form-label {
  padding-top: calc(0.44rem + 1px);
  padding-bottom: calc(0.60rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1;
}

.form-check {
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-left: 0;
}

.card-header1 {
  padding: 0.0rem 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ebedf2;
  padding:10px 5px;
  font-weight: 500;
}